
@font-face {
    font-family: 'Jakarta';
    src: url('Fonts/static/PlusJakartaSans-Regular.ttf');
}
:root {
    --White: hsl(0, 0%, 100%);
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --Slate100: hsl(202, 86%, 94%);
    --Slate300: hsl(203, 41%, 72%);
    --Slate500: hsl(200, 26%, 54%);
    --Slate700: hsl(200, 24%, 40%);
    --Slate900: hsl(202, 55%, 16%);
}

* {
    font-family: "Jakarta";
    font-size: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure body fills the height */
}


body, main{
    background-color: var(--Slate100);
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    flex-direction: column;
    background-color: white;
}


/*MAIN SECTION STYLING */
.mainSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--White);
    color: var(--Slate700);
    height: 65%;
    position: relative;
    overflow-y: scroll ;
}

.wrapper {
    height: 100%;
    padding: 1.2rem;
}

header {
    margin-top: 0.6rem;
    margin-bottom: 1.8rem;
}

h1 {
    color: var(--Slate900);
    font-size : 1.5rem;
    margin: 0;
    margin-bottom: 0.6rem;
}

#clearBtn {
    border: 0;
    text-decoration: underline;
    text-align: left;
    background-color: white;
}

.input-control {
    display: flex;
    position:relative;
    flex-direction: column;
    margin-bottom: 1.8rem;
}
.input-control > div {
    display: flex;
    align-items: center;
}
label {
    margin-bottom: 0.6rem;
}
.input-control > div > label {
    margin-bottom: 0;
    position: relative;
    font-weight: 900;
    font-size: 1.1rem;
    padding-left: 1rem;
}

input{
    position: relative;
    height: 2rem;
    padding-left: 15px;
    border: 1.2px solid var(--Slate700);
    border-radius: 7px;
    font-weight: bold;
    color:rgb(31, 31, 31);
}

input[name="type"] {
    transform:scale(1.5);
}

input[type="radio"] {
    accent-color: rgba(117, 118, 43);
    filter: brightness(150%);
}

.input-control > button {
    position: absolute;
    font-size: 0.9rem;
    top: 1.94rem;
    min-width: 40px;
    width: fit-content;
    height: 32.5px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--Slate100);
    font-weight: bold;
    color: var(--Slate700);
    border: 0;
}

.input-control > .termButton, .input-control > .rateButton  {
    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    right: 1.2px;
}

.input-control > .currencyButton {
    left: 1.2px;
}


#amount {
    padding-left: 55px;
}

#radioForm {
    justify-items: center;
}


#calculateBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 35px;
    background-color: var(--Lime);
    font-weight:900;
    align-items: center;
}

svg {
    margin-right:10px;
}

.errorMessage {
    color: red;
    position: absolute;
    font-size: 0.8rem;
    bottom: -30%;
    font-weight: bold;
}

.errorInput {
    border: 1.2px solid red;
}

.errorImage {
    background-color: red;
    color: white;
}

/*RESULT SECTION STYLING */

.resultSection {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: var(--Slate900);
    color: white;
    overflow: hidden;
}

.calculatorImage {
    height: 50%;
}

.resultsWrapper {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90%;
    padding:5%;
}

#resultDiv {
    display: none;
    position: relative;
    padding: 1rem;
    height: 70%;
    width: 90%;
    background-color: hsl(201, 56%, 10%);
    border-radius: 7px;
    color: var(--Slate500);
}

#resultDiv::before {
    content: "";
    height: 0.3rem;
    position: absolute;
    width: 100%;
    top: -3%;
    left:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--Lime);
}
h3{
    display: none;
    margin: 0;
    height: 1.2rem;
    margin-bottom: 3%;
}

.result1 {
    display: flex;
    flex-direction: column;
    height: 60%;
}
.result2 {
    display: flex;
    flex-direction: column;
}

.monthValue {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: auto;
    color: var(--Lime);
}

.totalValue {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

#additionalResultText {
    display: none;
}





/*Responsive design */
@media (min-height: 810px){
    #radioForm > div {
        border-radius: 7px;
        padding-left: 20px;
        margin-top: 10px;
        border: 1.2px solid black;
    } 

    #radioForm > .pickedOption {
        transition: background-color ease-in 0.1s;
        background-color: hsla(61, 70%, 52%, 30%);
        border: 1.2px solid rgb(143, 145, 2);
    }
}

@media (min-width: 768px) {
    body {
        justify-content: center;
    }
    main {
        align-self: center;
        width:70vw;
        height: 60vh;
        flex-direction: row;
    } 
    .mainSection, .resultSection{
        height: 100%;
        width: 50%
    }
    .resultSection {
        border-bottom-left-radius: 15%;
    }
    #additionalResultText {
        display: inline-block;
        margin-inline-start: 0.5rem;
        filter: opacity(50%);
        margin-left: 0;
    }
    .monthValue {
        font-size: 3.5rem;
    }
    .result1 {
        height: 50%;
    }
    #resultDiv {
        height: 50%;
    }
    h2 {
        font-size: 1.5rem;
    }
    input {
        height: 2.5rem;
    }
    .input-control > .termButton,
    .input-control > .currencyButton,
    .input-control > .rateButton {
    height: 2.5rem;
    }
    .doubleSection {
        position: relative;
        display: flex;
        direction: row;
        justify-content: space-between;
    }
    .doubleSection > .input-control {
        width: 40%;
    }
    .wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1080px) {
    #calculateBtn{
        width: 50%;
    };
}

@media (max-height: 890px) {
    .wrapper {
        padding-top : 0.6rem;
    }
    header {
        margin-top: 0.2rem;
        display: flex;
        margin-bottom: 0;
    }
    h1 {
        width: 70%;
    }
    #clearBtn {
        padding-left: 1rem;
    }
}

@media (max-height: 810px) {
    #radioForm {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.2rem;
    }

    .input-control {
        margin-bottom: 1rem;
    }

    .mortgageTypeLabel {
        width: 25%;
    }

    .input-control > div > label {
        margin-bottom: 0;
        font-weight: 900;
        font-size: 0.9rem;
        padding-left: 0.4rem;
    }
    .interestWrapper {
        padding-left: 0.8rem;
    }

    #calculateBtn {
        margin-top: 10%;
    }

    .mortgageTypeLabel {
        margin-bottom: 0px;
        margin-top: 5px;
    }
}

